/* Header Parallax Element Style*/

.paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/* Paragrapgh for Parallax Section */

.paral p {
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}

/* Heading for Parallax Section */

.paral h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;
}

/* Immagini utilizzate nelle sezioni di parallasse */

.img-copertina {
  background-image: url("images/cover_picture.jpg");
}

.img-eventi {
  background-image: url("images/eventi1.jpg");
}

.img-etherpad {
  background-image: url("images/collabora.jpg");
}

.img-video {
  background-image: url("images/surveillance.jpg");
}

.img-contatti {
  background-image: url("images/contatti.jpg");
}

/* Rimuove il margneinferiore del Jumbotron */
.jumbotron {
  margin-bottom: -5px;
}
